---
import MainLayout from "../layout/MainLayout.astro";


const title = "Home";
const description = "Welcome to my Astro site!";

const ojb = {
	name: "John Doe",
	age: 30,
	address: {
		street: "123 Main St",
		city: "Anytown",
		state: "CA",
		zip: "12345",
	},
	vehicles:[
		"honda civic",
		"toyota camry",
		"ford mustang"
	]
}

const isVisible = true;

const res = await fetch("https://jsonplaceholder.typicode.com/posts?_limit=5");
const data = await res.json();
---

<MainLayout title={title} description={description}>
	<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/blog">Blog</a></li>
			</ul>
		</nav>
		<br>
		<h1>First Astro site :)</h1>
		{isVisible && <p style="text-transform: uppercase;">This is visible</p>}
		{isVisible ? <p style="text-transform: uppercase;">This is visible</p> : <p>This is not visible</p>}
		<div>
			<h2>{ojb.name}</h2>
			<p>Age: {ojb.age}</p>
			<p>Address: {ojb.address.street}, {ojb.address.city}, {ojb.address.state} {ojb.address.zip}</p>
			<p>Vehicles:</p>
			<ul>
				{ojb.vehicles.map(vehicle => (
					<li>{vehicle}</li>
				))}
			</ul>
		</div>
		<button onclick="">toggle Visibility</button>
		<div>
			<h2>Posts</h2>
			<ul>
				{data.map((item: { title: string }) => (
					<li>{item.title}</li>
				))}
			</ul>
		</div>
</MainLayout>
