---
import navData from "../data/navData.js";
import Link from "./Link.astro";
import Icon from "astro-icon"
---

<nav>
  <ul>
    {
      navData.map((item) => (
        <li>
          {/* <a href={item.link} aria-label={`Go to ${item.name}`}>
            {item.name}
          </a> */}
          <Link href={item.link} text={item.name} style = "primary" data-navlink 
          
          />
        </li>
      ))
    }
    <!-- <li><a href="/about" aria-label="Go to About">About</a></li>
        <li><a href="/blog" aria-label="Go to Blog">Blog</a></li> -->
  </ul>
</nav>
